<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" href ="stylesheet" type ="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
                      <div class="head">
              <h4>
                  <form action= "home">
                <input type ="submit" value="Home"/>
             </form>
            </h4>
              <h4><form action = "categories">
                <input type="submit" value=" Categories"/>
            </form> 
          </h4>
               <h4> 
                   <form action = "about">
             <input type="submit" value=" About"/>
          </form> 
         </h4>
             <h4> <form action = "profile">
              <input type="submit" value=" Profile"/>
           </form>
          </h4>
             <h4> <form action = "logout">
                 <input type="submit" value=" Logout"/>
            </form> 
         </h4>
            <h4>  <form action = "contact-us">
                <input type="submit" value=" Contact Us"/>
            </form>
        </h4>
        </div>
        <br>
        
    <div class="imageq">
        <img src="question">
    </div>
 <p>
     This Forum website has an about page that is as useful as a match underwater. <br>
          It must be repeated that this page in particular, has absolutely no relevant information whatsoever <br>
          Will there ever be? who knows? <br> <br>
          Oh and please feel free to contact us on our contact-us page
 </p>
 <div class="rights">
            <br>
            <h6>Content Policy||Privacy Policy||User Agreement</h6>
            <h7>© DogeCo, inc, All rights reserved </h7>
            
        </div>
</body>
</html>