<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" href ="stylesheet" type ="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
</head>
<body>
              <div class="head">
              <h4>
                  <form action= "/guest">
                <input type ="submit" value="Home"/>
             </form>
            </h4>
              <h4><form action = "guestcategories">
                <input type="submit" value=" Categories"/>
            </form> 
          </h4>
               <h4> 
                   <form action = "about">
             <input type="submit" value=" About"/>
          </form> 
         </h4>
             <h4> <form action = "login">
              <input type="submit" value="Members area"/>
           </form>
          </h4>
             <h4> <form action = "login">
                 <input type="submit" value="Login"/>
            </form> 
         </h4>
            <h4>  <form action = "contact-us">
                <input type="submit" value=" Contact Us"/>
            </form>
        </h4>
        </div>
        <br>    
    <div class="contact">
        <div class="image">
            <img src="doge">
        </div>
        <div class="name">
            <h5>Name: Elon Musk </h5>
        </div>
        <div class="number">
            <h5>Phone Number: 610-803-6911</h5>
        </div>
        <div class="email">
            <h5>E-mail: DogeBoss@Elon.Musk.com</h5>
        </div>
        <div class="rights">
            <br>
            <h6>Content Policy||Privacy Policy||User Agreement</h6>
            <h7>© DogeCo, inc, All rights reserved </h7>
        </div>
    </div>
    
</body>
</html>