<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <div class="head">
        <h4>
            <form action="home">
                <input type="submit" value="Home" />
            </form>
        </h4>
        <h4>
            <form action="guestcategories">
                <input type="submit" value=" Categories" />
            </form>
        </h4>
        <h4>
            <form action="about">
                <input type="submit" value=" About" />
            </form>
        </h4>
        <h4>
            <form action="login">
                <input type="submit" value="Members area" />
            </form>
        </h4>
        <h4>
            <form action="login">
                <input type="submit" value="Login" />
            </form>
        </h4>
        <h4>
            <form action="contact-us">
                <input type="submit" value=" Contact Us" />
            </form>
        </h4>
    </div>
    <div class="guest">
        <div class="banner">
            <h2> YOU ARE NOT LOGGED IN, PLEASE LOG IN TO ACCESS ALL FEATURES</h2>
            <form action="login">
                <input type="submit" value=" Click here to login" />
            </form>
        </div>
    </div>

    <div class="homeLayout">


        <div class="featured">
            <h3> featured/trending posts</h3>

            <ol>
                {{range $i, $e := . }}
                <li class="row">
                    <h3 class="title2">
                        <a href="threadg/{{.PostID}}">
                            <!-- {{.PostID}} -->
                            {{.Title}}
                            <br>
                            Posted by: {{.Username}}
                        </a>
                    </h3>
                    <div class="content">
                        <a href="threadg/{{.PostID}}">
                            <p1>{{.Content}} </p1>
                        </a>
                        <br>
                        <p1>Category: {{.Category}}</p1>
                    </div>
                    <div class="bottom">

                        <p1 class="timestamp">
                            <a href="threadg/{{.PostID}}">
                                <p1 class="timestamp">posted: {{.CreatedAt}}</p1>
                            </a>
                        </p1>
                        <p1 class="likes">Likes: {{.Likes}}</p1>
                        <p1 class="dislikes">Dislikes: {{.Dislikes}}</p1>
                    </div>
                </li> <br>
                {{end}}
            </ol>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="rights">
        <br>
        <h6>Content Policy||Privacy Policy||User Agreement</h6>
        <h7>© DogeCo, inc, All rights reserved </h7>
    </div>
</body>

</html>