<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <link rel="stylesheet" href ="stylesheet" type ="text/css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
</head>
<body>
               <div class="head">
              <h4>
                  <form action= "/guest">
                <input type ="submit" value="Home"/>
             </form>
            </h4>
              <h4><form action = "/guestcategories">
                <input type="submit" value=" Categories"/>
            </form> 
          </h4>
               <h4> 
                   <form action = "/about">
             <input type="submit" value=" About"/>
          </form> 
         </h4>
              <h4> <form action = "/login">
              <input type="submit" value="Members area"/>
           </form>
          </h4>
             <h4> <form action = "/login">
                 <input type="submit" value="Login"/>
            </form> 
         </h4>
            <h4>  <form action = "/contact-us">
                <input type="submit" value=" Contact Us"/>
            </form>
        </h4>
        </div>
        
     <div class="banner"><h2> YOU ARE NOT LOGGED IN, PLEASE LOG IN TO ACCESS ALL FEATURES</h2> 
        <form action = "login">
            <input type="submit" value=" Click here to login"/>
        </form>
    </div>

     <section class ="category-grid">
        <a href ="categoryg/Health">
        <div class="category">Health
           <div class="image"> 
             <img src ="health"  >
           </div>
        </div>  
        </a>   

     <a href ="categoryg/Finance">
        <div class="category">Finance
           <div class="image"> 
             <img src ="finance"  > 
           </div>
        </div> 
     </a>
       <a href ="categoryg/Animals">
        <div class="category">Animals
             <div class="image"> 
              <img src ="hamster" >
             </div>
        </div> 
       </a>
  <a href ="categoryg/Fitness">
        <div class="category">Fitness
             <div class="image"> 
                 <img src ="fitness" >
                </div>
        </div>
  </a>
  <a href ="categoryg/Technology">
        <div class="category">Technology
             <div class="image"> 
                <img src ="tech" >
                </div>
         </div>
  </a>
  <a href ="categoryg/Travel">
        <div class="category">Travel
             <div class="image"> 
                 <img src ="travel" >
                </div>
        </div>
  </a>
    </section>

 
    <form action = "home">
        <input type="submit" value=" Back"/>
    </form>
     <div class="rights">
            <br>
            <h6>Content Policy||Privacy Policy||User Agreement</h6>
            <h7>© DogeCo, inc, All rights reserved </h7>
        </div>
</body>
</html>