<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheet" type="text/css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="head">
        <h4>
            <form action="/home">
                <input type="submit" value="Home" />
            </form>
        </h4>
        <h4>
            <form action="categories">
                <input type="submit" value=" Categories" />
            </form>
        </h4>
        <h4>
            <form action="about">
                <input type="submit" value=" About" />
            </form>
        </h4>
        <h4>
            <form action="profile">
                <input type="submit" value=" Profile" />
            </form>
        </h4>
        <h4>
            <form action="/logout">
                <input type="submit" value=" Logout" />
            </form>
        </h4>
        <h4>
            <form action="contact-us">
                <input type="submit" value=" Contact Us" />
            </form>
        </h4>
    </div>
    <!-- </div> -->
    <!-- <div class="guest"> -->
    <div class="welcome">
        <h2>
            Welcome {{.UserSession.Username}}, hope you enjoy your stay :)
        </h2>
    </div>
    <form>

        <div class="homeLayout">
            <div class="post">
                <h3> Create a post</h3>
                <form method="POST" action="/home" id="usrpost">
                    <label for="category"> Please choose a category</label>
                    <t></t>

                    <select id="category" name="category">
                        <option value="Health">Health</option>
                        <option value="Finance">Finance</option>
                        <option value="Animals">Animals</option>
                        <option value="Fitness">Fitness</option>
                        <option value="Technology">Technology</option>
                        <option value="Travel">Travel</option>
                    </select> 
                    <select id="category2" name="category2">
                        <option value =""></option>
                        <option value="Health">Health</option>
                        <option value="Finance">Finance</option>
                        <option value="Animals">Animals</option>
                        <option value="Fitness">Fitness</option>
                        <option value="Technology">Technology</option>
                        <option value="Travel">Travel</option>
                    </select> <br>
                    <label for="title"> Title:</label> <br>
                    <input type="text" id="title" name="title" required>

                    <br>
                    <textarea name="content" id="postcontent" placeholder="Please enter post content here"
                        required></textarea>
                    <br>
                    <input type="submit" value="post" a href="/home" value="reset form">
                </form>

            </div>

            <div class="featured">
                <h3> featured/trending posts</h3>

                <ol>
                    {{range $i, $e := .Post}}
                    <li class="row">
                        <h3 class="title2">
                            <a href="thread/{{.PostID}}">
                                {{.Title}}
                                <br>
                                Posted by: {{.Username}}
                            </a>
                        </h3>
                        <div class="content">
                            <a href="thread/{{.PostID}}">
                                <p1>{{.Content}} </p1>
                            </a>
                            <br>
                            <p1>Category: {{.Category}}</p1>
                        </div>
                        <div class="bottom">
                            <p1 class="timestamp">
                                <a href="thread/{{.PostID}}">
                                    <p1 class="timestamp">posted: {{.CreatedAt}}</p1>
                                </a>
                            </p1>
                            <p1>
                                <a onclick="likePost('{{ $i }}');" data-post-id="{{.PostID}}" id="likes-{{ $i }}"
                                    href="#">{{.Likes}} Likes</a>
                            </p1>
                            <p1>
                                <a onclick="dislikePost('{{ $i }}');" data-post-id="{{.PostID}}" id="dislikes-{{ $i }}"
                                    href="#">{{.Dislikes}}
                                    Dislikes</a>
                            </p1>
                        </div>
                    </li> <br>
                    {{end}}
                </ol>
            </div>
        </div>
        <div class="activity"><a href="profile">
                <!-- <h3>your recent activity, likes, posts, comments etc</h3> -->
            </a>
        </div>


        <br>
        <br>
        <br>
        <br>

        <div class="rights">
            <br>
            <h6>Content Policy||Privacy Policy||User Agreement</h6>
            <h7>© DogeCo, inc, All rights reserved </h7>
            <br>
            <br>
        </div>
</body>
<script>
    // get the url of the webserver
    const appURL = location.protocol + '//' + location.host;
    const likePost = async (elementID) => {
        console.log("clicked like-" + elementID);
        // get the likes element <a> tag
        const likesElement = document.getElementById("likes-" + elementID);
        const dislikesElement = document.getElementById("dislikes-" + elementID);
        // run a POST request to the webserver, this sends the postID and matches MethodPost
        const response = await fetch(appURL + '/likePost?id=' + likesElement.getAttribute("data-post-id"), {
            method: 'POST',
        });
        // transform the webserver's response into json
        const postResult = await response.json();
        // if the post successful
        if (postResult.success == true) {
            // update the number of likes that the user can see
            likesElement.innerHTML = postResult.likes + " Likes";
            dislikesElement.innerHTML = postResult.dislikes + " Dislikes";
        }
    }

    const dislikePost = async (elementID) => {
        const likesElement = document.getElementById("likes-" + elementID);
        const dislikesElement = document.getElementById("dislikes-" + elementID);
        const response = await fetch(appURL + '/dislikePost?id=' + dislikesElement.getAttribute("data-post-id"), {
            method: 'POST',
        });
        const postResult = await response.json();
        if (postResult.success == true) {
            likesElement.innerHTML = postResult.likes + " Likes";
            dislikesElement.innerHTML = postResult.dislikes + " Dislikes";
        }
    }
</script>

</html>