
<div id="msgcontainer">
    <style>
        .msgcontainer {
        text-align: center;
        background-color: #000000;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border: 2px solid rgb(255, 255, 255);
    }
    </style>
    CHAT
    <div style="overflow: hidden;">
        <input id="chatIPT" onkeypress="chatSocket.keypress(event)" type="text" />
</div>
