<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <link rel="stylesheet" href ="stylesheet" type ="text/css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{.Profile.Name}}</title>
</head>
<body>
                  <div class="head">
              <h4>
                  <form action= "home">
                <input type ="submit" value="Home"/>
             </form>
            </h4>
              <h4><form action = "categories">
                <input type="submit" value=" Categories"/>
            </form> 
          </h4>
               <h4> 
                   <form action = "about">
             <input type="submit" value=" About"/>
          </form> 
         </h4>
             <h4> <form action = "profile">
              <input type="submit" value=" Profile"/>
           </form>
          </h4>
             <h4> <form action = "logout">
                 <input type="submit" value=" Logout"/>
            </form> 
         </h4>
            <h4>  <form action = "contact-us">
                <input type="submit" value=" Contact Us"/>
            </form>
        </h4>
                  </div>
        
        <div class="welcome"><h2> 
            Welcome {{.Profile.Name}}, hope you enjoy your stay :)
        </h2> 
         </div>
    <br>

    <section class="profilenav">
<div class="profileButtons">
    <form action = "photo">
            <input type="submit" value=" Photo"/>
        </form>  
        
        <form action = "posts">
                <input type="submit" value=" Posts"/>
            </form>
        
            <!-- <form action = "comments">
                <input type="submit" value=" comments"/>
            </form>
         -->
        <form action = "likes">
                <input type="submit" value=" Likes"/>
            </form>
        
            <!-- <form action = "shares">
                <input type="submit" value=" Shares"/>
            </form>
         -->
        <!-- <form action = "info">
                <input type="submit" value=" user info"/>
            </form>
        
        <form action = "custom">
                <input type="submit" value=" custom time"/>
            </form>
         -->
            <form action = "home">
                <input type="submit" value=" Back"/>
            </form>
</div>
<div class="profile-grid">
    <div class="user"> {{.Profile.Name}}
        <br><br>
     <div class="image">
        <img src="panda"> 
        </div><br>
        <div class="about">
            {{.Profile.Info}}
        </div>
        <br>
        <div class="gender">Gender: {{.Profile.Gender}}</div>
        <div class="age">Age: {{.Profile.Age}}</div>
        <div class="location">Location: {{.Profile.Location}}</div>
        <br>
    </div>
</div>
</section>
<br>


    <div class="rights">
            <h6>Content Policy||Privacy Policy||User Agreement</h6>
            <h7>© DogeCo, inc, All rights reserved </h7>
        </div>
</body>
</html>