body {
    font-size: 16px;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.75rem;
}

header {
    background: #374453;
    padding: 3rem;
    grid-column: 1 / 2;
    padding: 2rem 3rem;
}

footer {
    background: #374453;
    padding: 3rem;
    grid-column: 1 / 2;
    padding: 2rem 3rem;
}

article {
    display: grid;
    grid-column: 1 / 1;
    gap: 1rem;
    background: #FFBB00;
}

section {
    display: grid;
    grid-column: 2 / 3;
    gap: 1rem;
    background: #FFBB00;
}

aside {
    background: #FFBB00;
    grid-column: 1 / 2;
    padding: 2rem 3rem;
}

@media (min-width: 750px) {
    article {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-column: 1 / 2;
        }
    }

    @media (min-width: 750px) {
        section {
            grid-template-columns: repeat(2, 1fr);
            grid-column: 2 / 3;
        }
    }

    @media (min-width: 750px) {

        header,
        footer {
            grid-column: 1 / 5;
        }
    }

    @media (min-width: 750px) {
        aside {
            grid-column: 3 / 5;
        }
    }

    article .msg {
        background-color: #A39C95;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid rgb(0, 0, 0);
        overflow-y: auto;
    }

    article .msg .self {
        background-color: #A39C95;
    }

    article .chatIPT {
        width: 300px;
        padding: 10px;
        border-right: 2px solid rgb(0, 0, 0);
        border-left: 2px solid rgb(0, 0, 0);
        border-bottom: 2px solid rgb(0, 0, 0);
        border-top: hidden
    }

    section .submittedpost {
        background-color: #A39C95;
        padding: 15px;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        border: 2px solid rgb(0, 0, 0);
        justify-self:right;
        /* grid-template-columns: 1fr; */
        /* overflow-y: auto;
    gap: 1rem; */
    }

    section .post {
        background-color: #A39C95;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid rgb(0, 0, 0);
        overflow-y: auto;
    }

    aside .presence {
        background-color: #A39C95;
        padding: 10px;
        margin-bottom: 10px;
        border: 2px solid rgb(0, 0, 0);
        overflow-y: auto;
        display: block;
    }

    /* aside .presencecontainer {
    background: #A39C95;
    padding: 3rem;
    grid-column: 1 / 2;
    height: 300px;
} */

    @media (min-width: 750px) {
        .postcontainer {
            grid-column: 1 / 4;
        }
    }